= render 'shared/error_messages', obj: @milestone

= form_with model: @milestone do |f|
  .form-group.row
    = f.label :date, class: 'col-sm-2 col-form-label font-weight-bold text-right'

    .col-sm-3
      #date-picker.input-group.date.date-picker{data: { target_input: 'nearest' }}
        = f.text_field :date, required: true, class: 'form-control datetimepicker-input', data: { target: '#date-picker' }

        .input-group-append{data: { target: '#date-picker', toggle: 'datetimepicker' }}
          .input-group-text
            = icon :calendar

  .form-group.row
    = f.label :notes, class: 'col-sm-2 col-form-label font-weight-bold text-right'

    .col-sm-6
      = f.text_area :notes, autofocus: true, required: true, rows: 5, class: 'form-control'

  .form-group.row
    = f.label :tag_list, 'Tags', class: 'col-sm-2 col-form-label font-weight-bold text-right'

    .col-sm-6
      = f.text_field :tag_list, value: @milestone.tag_list.to_s, class: 'form-control'

  %hr

  .form-group.row
    .col-sm.offset-sm-2.col-sm-10
      = f.submit 'Save', class: 'btn btn-lg btn-primary'
