- @title = "Editing Milestone - #{@milestone}"

= page_header do
  .float-right
    = link_to milestones_path, class: 'btn btn-lg btn-default' do
      = icon 'arrow-left'

  %h1
    = @title

= render 'form'
