- @title = 'Milestones'

= page_header do
  .float-right
    = link_to new_milestone_path, class: 'btn btn-lg btn-success' do
      = icon 'plus-circle'
      Milestone

  %h1
    = @title

%ul.timeline
  - cache @milestones do
    - @milestones.each do |milestone|
      %li{ class: cycle('', 'timeline-inverted') }
        .timeline-panel
          .timeline-heading
            .float-right
              = link_to [:edit, milestone], class: 'btn btn-info btn-xs' do
                = icon :edit

              = link_to milestone, method: 'delete', id: dom_id(milestone, :delete), class: 'btn btn-danger btn-xs', data: { confirm: t(:confirm) } do
                = icon 'trash-o'

            %h4.timeline-title
              = link_to milestone, milestone

          %hr

          .timeline-body
            = kramdown milestone.notes

            - if milestone.cached_tag_list.present?
              %hr

              - milestone.cached_tag_list.split(', ').sort.each do |tag|
                = link_to tag, 'javascript:;', class: 'badge badge-info'
