- @title = @milestone

= page_header do
  .float-right
    = link_to :milestones, class: 'btn btn-lg btn-secondary mr-1' do
      = icon 'arrow-left'

    - if admin?
      = link_to [:edit, @milestone], class: 'btn btn-lg btn-info' do
        = icon :edit

  %h1
    = "Milestone - #{@milestone}"

.table-responsive
  %table.table.table-striped.table-bordered.table-hover#milestones-table
    %thead.thead-dark
      %tr
        %th Date
        %th Notes
        %th Permalink

        - if admin?
          %th

    %tbody
      %tr
        %td
          = @milestone.formatted_date

        %td
          = kramdown @milestone.notes.to_s

        %td
          = link_to @milestone.permalink, @milestone

        - if admin?
          %td.fit
            .btn-group
              = link_to [:edit, @milestone], class: 'btn btn-sm btn-info' do
                = icon :edit

              = link_to @milestone, method: 'delete', class: 'btn btn-sm btn-danger', data: { confirm: t(:confirm) } do
                = icon 'trash-o'
