- @title = @milestone

.page-header
  .pull-right
    = link_to :milestones, class: 'btn btn-lg btn-default' do
      = icon 'arrow-left'

    - if admin?
      = link_to [:edit, @milestone], class: 'btn btn-lg btn-info' do
        = icon :edit

  %h1
    = "Milestone - #{@milestone}"

%table.table.table-striped.table-bordered.table-hover.table-stacked#milestones-table
  %thead
    %tr
      %th Date
      %th Notes
      %th Permalink

      - if admin?
        %th

  %tbody
    %tr
      %td
        = @milestone.formatted_date

      %td
        = kramdown @milestone.notes

      %td
        = link_to @milestone.permalink, @milestone

      - if admin?
        %td.table-actions
          = link_to [:edit, @milestone], class: 'btn btn-info' do
            = icon :edit

          = link_to @milestone, method: 'delete', class: 'btn btn-danger', data: { confirm: t(:confirm) } do
            = icon 'trash-o'
