- @title = @snapshot

= page_header do
  .float-right
    = link_to @asset, class: 'btn btn-lg btn-secondary mr-1' do
      = icon 'arrow-left'

    - if admin?
      = link_to [:edit, @snapshot], class: 'btn btn-lg btn-info' do
        = icon :edit

  %h1
    = link_to @asset, @asset
    Snapshot -
    = @snapshot.formatted_date

.table-responsive
  %table.table.table-striped.table-bordered.table-hover#asset-snapshots-table
    %thead.thead-dark
      %tr
        %th Date
        %th Value
        %th Permalink

        - if admin?
          %th

    %tbody
      %tr
        %td
          = @snapshot.formatted_date

        %td
          = currency @snapshot.value

        %td
          = link_to @snapshot.permalink, @snapshot

        - if admin?
          %td.fit
            .btn-group
              = link_to [:edit, @snapshot], class: 'btn btn-sm btn-info' do
                = icon :edit

              = link_to @snapshot, method: 'delete', class: 'btn btn-sm btn-danger', data: { confirm: t(:confirm) } do
                = icon 'trash-o'
