- @title = @snapshot

.page-header
  .pull-right
    = link_to @asset, class: 'btn btn-lg btn-default' do
      = icon 'arrow-left'
      Back

    - if admin?
      = link_to [:edit, @snapshot], class: 'btn btn-lg btn-info' do
        = icon :edit
        Edit

  %h1
    = link_to @asset, @asset
    Snapshot -
    = @snapshot.formatted_date

%table.table.table-striped.table-bordered.table-hover.table-stacked#asset-snapshots-table
  %thead
    %tr
      %th Date
      %th Value
      %th Permalink

      - if admin?
        %th

  %tbody
    %tr
      %td
        = @snapshot.formatted_date

      %td
        = currency @snapshot.value

      %td
        = link_to @snapshot.permalink, @snapshot

      - if admin?
        %td.table-actions
          = link_to [:edit, @snapshot], class: 'btn btn-info' do
            = icon :edit

          = link_to @snapshot, method: 'delete', class: 'btn btn-danger', data: { confirm: t(:confirm) } do
            = icon 'trash-o'
