%header
  %nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
    .container
      = link_to 'Pecuniary', root_path, class: 'navbar-brand'

      %button.navbar-toggler{type: 'button', data: { toggle: 'collapse', target: '#navbarSupportedContent' }}
        %span.navbar-toggler-icon

      .navbar-collapse.collapse#navbarSupportedContent
        %ul.navbar-nav.mr-auto
          %li.nav-item.dropdown{class: nav_class(:financial_assets)}
            = link_to 'javascript:;', class: 'nav-link dropdown-toggle', data: { toggle: 'dropdown' } do
              Assets

            .dropdown-menu
              = link_to 'All', financial_assets_path, class: 'dropdown-item'

              .dropdown-divider

              - assets = FinancialAsset.order(:name).group_by &:investment

              - if assets.present?
                %h6.dropdown-header Regular Accounts

                - assets[false].each do |asset|
                  = link_to asset, asset, class: 'dropdown-item'

                %h6.dropdown-header Investments

                - assets[true].each do |asset|
                  = link_to asset, asset, class: 'dropdown-item'

          %li.nav-item{class: nav_class(:contributions)}
            = link_to 'Contributions', contributions_path, class: 'nav-link'

          %li.nav-item{class: nav_class(:milestones)}
            = link_to 'Milestones', milestones_path, class: 'nav-link'

          %li.nav-item{class: nav_class(:investments)}
            = link_to 'Investments', investments_path, class: 'nav-link'

        - if admin?
          = link_to 'Logout', logout_path, method: 'delete', class: 'nav-link btn btn-danger btn-sm'
        - else
          = link_to 'Login', login_path, class: 'nav-link btn btn-primary btn-sm'
