- if @contribution.new_record?
  - url = financial_asset_contributions_path @asset
  - method = 'post'
- else
  - url = contribution_path @contribution
  - method = 'put'

= render 'shared/error_messages', obj: @contribution

= form_for @contribution, url: url, method: method, html: { class: 'form-horizontal' } do |f|
  .form-group
    = f.label :date, class: 'control-label col-sm-2'

    .col-sm-3
      .input-group.date-picker
        = f.text_field :date, required: true, class: 'form-control'

        %span.input-group-addon
          = icon :calendar

  .form-group
    = f.label :amount, class: 'control-label col-sm-2'

    .col-sm-3
      = f.number_field :amount, class: 'form-control'

  %hr

  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit 'Save', class: 'btn btn-lg btn-primary'
