- @title = "Editing #{@contribution}"

= page_header do
  .float-right
    = link_to @contribution, class: 'btn btn-lg btn-secondary' do
      = icon 'arrow-left'

  %h1
    = @title

= render 'form'
