- @title = "Editing #{@contribution}"

.page-header
  .pull-right
    = link_to @contribution, class: 'btn btn-lg btn-default' do
      = icon :arrow_left
      Back

  %h1
    = @title

= render 'form'
