- @title = 'Contributions'

.page-header
  %h1= @title

= contributions_multi_bar_graph

= contributions_line_graph

- unless @contributions.length.zero?
  %table.table.table-striped.table-bordered.table-hover#contributions-table
    %thead
      %tr
        %th.date Date
        %th.amount Amount
        %th Asset
        %th Permalink
        %th

    %tbody
      - @contributions.each do |contribution|
        %tr
          %td= contribution.formatted_date
          %td= currency contribution.amount
          %td= contribution.asset
          %td
            = link_to contribution.permalink, contribution
          %td.table-actions
            = link_to [:edit, contribution], class: 'btn btn-info' do
              = icon :edit
            = link_to contribution, method: 'delete', class: 'btn btn-danger', data: { confirm: t(:confirm) } do
              = icon :trash
- else
  %p There are no contributions.
