- @title = @contribution

.page-header
  .pull-right
    = link_to @asset, class: 'btn btn-lg btn-default' do
      = icon 'arrow-left'
      Back

    - if admin?
      = link_to [:edit, @contribution], class: 'btn btn-lg btn-info' do
        = icon :edit
        Edit

  %h1
    = link_to @asset, @asset
    Contribution -
    = @contribution.formatted_date

.row
  .col-md-8
    %table.table.table-striped.table-bordered.table-hover.table-stacked#contributions-table
      %thead
        %tr
          %th Date
          %th Amount
          %th Employer Contribution?
          %th Permalink

          - if admin?
            %th

      %tbody
        %tr{class: (:info if @contribution.employer?)}
          %td
            = @contribution.formatted_date

          %td
            = currency @contribution.amount

          %td
            = @contribution.employer? ? 'yes' : 'no'

          %td
            = link_to @contribution.permalink, @contribution

          - if admin?
            %td.table-actions
              = link_to [:edit, @contribution], class: 'btn btn-info' do
                = icon :edit

              = link_to @contribution, method: 'delete', class: 'btn btn-danger', data: { confirm: t(:confirm) } do
                = icon 'trash-o'
