- @title = @contribution

.page-header
  .header-buttons
    = link_to @asset, class: 'btn btn-large' do
      %i.icon-arrow-left
      Back

    = link_to [:edit, @contribution], class: 'btn btn-large btn-info' do
      %i.icon-edit
      Edit

  %h1
    = link_to @asset, @asset
    Contribution -
    = @contribution.formatted_date

%table.table.table-striped.table-bordered.table-hover#contributions-table
  %thead
    %tr
      %th Date
      %th Amount
      %th Permalink
      %th

  %tbody
    %tr
      %td= @contribution.formatted_date
      %td= currency @contribution.amount
      %td
        = link_to @contribution.permalink, @contribution
      %td.table-actions
        = link_to [:edit, @contribution], class: 'btn btn-info' do
          %i.icon-edit
        = link_to @contribution, method: 'delete', class: 'btn btn-danger', data: { confirm: t(:confirm) } do
          %i.icon-trash
