= render 'shared/error_messages', obj: @snapshot

- url = @snapshot.new_record? ? financial_asset_snapshots_path : snapshot_path(@snapshot)

= form_with model: @snapshot, url: url do |f|
  .form-group.row
    = f.label :date, class: 'col-sm-2 col-form-label font-weight-bold text-right'

    .col-sm-3
      .input-group.date.date-picker#date-picker{ data: { target_input: 'nearest' } }
        = f.text_field :date, required: true, class: 'form-control datetimepicker-input', data: { target: '#date-picker' }

        .input-group-append{ data: { target: '#date-picker', toggle: 'datetimepicker' } }
          .input-group-text
            = icon :calendar

  .form-group.row
    = f.label :value, class: 'col-sm-2 col-form-label font-weight-bold text-right'

    .col-sm-3
      = f.number_field :value, autofocus: true, class: 'form-control'

  %hr

  .form-group.row
    .col-sm.offset-sm-2.col-sm-10
      = f.submit 'Save', class: 'btn btn-lg btn-primary'
