= render 'shared/error_messages', obj: @asset

= form_with model: @asset do |f|
  .form-group.row
    = f.label :name, class: 'col-sm-2 col-form-label font-weight-bold text-right'

    .col-sm-4
      = f.text_field :name, autofocus: true, class: 'form-control'

  .form-group.row
    .col-sm.offset-sm-2.col-sm-10
      .form-check
        = f.check_box :investment, class: 'form-check-input'

        = f.label :investment, 'Investment?', class: 'form-check-label'

  %hr

  .form-group.row
    .col-sm.offset-sm-2.col-sm-10
      = f.submit 'Save', class: 'btn btn-lg btn-primary'
