- @title = "Editing Asset - #{@asset}"

.page-header
  .pull-right
    = link_to financial_assets_path, class: 'btn btn-lg btn-default' do
      = icon 'arrow-left'

  %h1
    = @title

= render 'form'
