%h1 Listing assets

%table
  %tr
    %th Name
    %th
    %th
    %th

  - @assets.each do |asset|
    %tr
      %td= asset.name
      %td= link_to 'Show', asset
      %td= link_to 'Edit', edit_financial_asset_path(asset)
      %td= link_to 'Destroy', asset, method: 'delete', data: { confirm: 'Are you sure?' }

%br

= link_to 'New Financial asset', new_financial_asset_path
