- @title = 'Assets'

.page-header
  .header-buttons
    = link_to new_financial_asset_path, class: 'btn btn-large btn-success' do
      %i.icon-plus-sign
      New Financial Asset

  %h1= @title

- unless @assets.length.zero?
  = net_worth_line_with_focus_graph

  %hr

  = assets_stacked_area_graph @assets

  %table.table.table-striped.table-bordered.table-hover#assets-table
    %thead
      %tr
        %th Name
        %th Current Value
        %th Permalink
        %th.table-actions

    %tbody
      - @assets.each do |asset|
        %tr
          %td= link_to asset.name, asset
          %td= currency asset.current_value
          %td
            = link_to asset.permalink, asset
          %td
            = link_to [:edit, asset], class: 'btn btn-info' do
              %i.icon-edit
            = link_to asset, method: 'delete', class: 'btn btn-danger', data: { confirm: t(:confirm) } do
              %i.icon-trash
- else
  %p There are no assets.
