- @title = 'Assets'

.page-header
  .header-buttons
    = link_to new_financial_asset_path, class: 'btn btn-lg btn-success' do
      = icon :plus_sign
      Asset

  %h1= @title

= assets_stacked_area_graph

- unless @assets.length.zero?
  %table.table.table-striped.table-bordered.table-hover#assets-table
    %thead
      %tr
        %th Name
        %th Current Value
        %th Total Contributions
        %th Total Return
        %th Investment?
        %th Permalink
        %th

    %tbody
      - @assets.each do |asset|
        %tr
          %td= link_to asset.name, asset
          %td= currency asset.current_value
          %td= asset.investment? ? currency(asset.total_contributions) : 'N/A'
          %td= asset.investment? ? number_to_percentage(asset.total_return, precision: 2) : 'N/A'
          %td= asset.investment? ? 'yes' : 'no'
          %td
            = link_to asset.permalink, asset
          %td.table-actions
            = link_to [:edit, asset], class: 'btn btn-info' do
              = icon :edit
            = link_to asset, method: 'delete', class: 'btn btn-danger', data: { confirm: t(:confirm) } do
              = icon :trash
- else
  %p There are no assets.
