- @title = @asset.name

.page-header
  .pull-right
    = link_to :financial_assets, class: 'btn btn-lg btn-default' do
      = icon :arrow_left
      Back

    = link_to [:edit, @asset], class: 'btn btn-lg btn-info' do
      = icon :edit
      Edit

    = link_to [:new, @asset, :snapshot], class: 'btn btn-lg btn-success' do
      = icon :plus_sign
      Snapshot

    - if @asset.investment?
      = link_to [:new, @asset, :contribution], class: 'btn btn-lg btn-success' do
        = icon :plus_sign
        Contribution

  %h1
    = @title

= asset_line_plus_bar_graph @asset

.row
  .col-sm-6{class: @asset.investment? ? nil : 'col-sm-offset-3'}
    .panel.panel-default
      .panel-heading
        %strong Snapshots

      %ul.list-group
        - unless @snapshots.length.zero?
          - @snapshots.each do |snapshot|
            %li.list-group-item
              = link_to snapshot.formatted_date, snapshot

              .pull-right
                = currency snapshot.value
        - else
          %li.list-group-item
            There are no snapshots for this asset.

  - if @asset.investment?
    .col-sm-6
      .panel.panel-default
        .panel-heading
          %strong Contributions

        %ul.list-group
          - unless @contributions.length.zero?
            - @contributions.each do |contribution|
              %li.list-group-item
                = link_to contribution.formatted_date, contribution

                .pull-right
                  = currency contribution.amount
          - else
            %li.list-group-item
              There are no contributions for this asset.
