- @title = @asset.name

.page-header
  .header-buttons
    = link_to :financial_assets, class: 'btn btn-large' do
      %i.icon-arrow-left
      Back

    = link_to [:edit, @asset], class: 'btn btn-large btn-info' do
      %i.icon-edit
      Edit

    = link_to [:new, @asset, :snapshot], class: 'btn btn-large btn-success' do
      %i.icon-plus-sign
      New Snapshot

  %h1= @title

- unless @snapshots.length.zero?
  = asset_line_graph @snapshots

  %table.table.table-striped.table-bordered.table-hover#asset-snapshots-table
    %thead
      %tr
        %th Date
        %th Value
        %th Permalink
        %th.table-actions

    %tbody
      - @snapshots.each do |snapshot|
        %tr
          %td= snapshot.date.strftime '%B %Y'
          %td= currency snapshot.value
          %td
            = link_to snapshot.permalink, snapshot
          %td
            = link_to [:edit, snapshot], class: 'btn btn-info' do
              %i.icon-edit
            = link_to snapshot, method: 'delete', class: 'btn btn-danger', data: { confirm: t(:confirm) } do
              %i.icon-trash
- else
  %p There are no snapshots for this asset.
