- @title = @asset.name

= page_header do
  .float-right
    = link_to :financial_assets, class: 'btn btn-lg btn-secondary mr-1' do
      = icon 'arrow-left'

    = link_to [:edit, @asset], class: 'btn btn-lg btn-info mr-1' do
      = icon :edit

    = link_to [:new, @asset, :snapshot], class: 'btn btn-lg btn-success mr-1' do
      = icon 'plus-circle'
      Snapshot

    - if @asset.investment?
      = link_to [:new, @asset, :contribution], class: 'btn btn-lg btn-success' do
        = icon 'plus-circle'
        Contribution

  %h1
    = @title

- if @asset.investment?
  = investment_asset_area_chart @asset

  %hr

  = investment_asset_performance_line_chart @asset

  %hr

  = investment_asset_contributions_column_chart @asset
- else
  = non_investment_asset_line_chart @asset

%hr

.row
  .col-sm-6
    .table-responsive
      %table.table.table-striped.table-bordered.table-hover
        %thead.thead-dark
          %tr
            %th{ colspan: 2 }
              Snapshots

        %tbody
          - @snapshots.each do |snapshot|
            %tr
              %td
                = link_to snapshot.formatted_date, snapshot

              %td.fit
                = currency snapshot.value

  - if @asset.investment?
    .col-sm-6
      .table-responsive
        %table.table.table-striped.table-bordered.table-hover
          %thead.thead-dark
            %tr
              %th{ colspan: 2 }
                Contributions

          %tbody
            - @contributions.each do |contribution|
              %tr
                %td
                  = link_to contribution.formatted_date, contribution

                  - if contribution.employer?
                    %span.badge.badge-info.float-right
                      Employer

                %td.fit{ class: contribution.amount.negative? ? 'text-danger' : 'text-success' }
                  = currency contribution.amount
