- @title = @asset.name

.page-header
  .header-buttons
    = link_to :financial_assets, class: 'btn btn-lg btn-default' do
      = icon :arrow_left
      Back

    = link_to [:edit, @asset], class: 'btn btn-lg btn-info' do
      = icon :edit
      Edit

    = link_to [:new, @asset, :snapshot], class: 'btn btn-lg btn-success' do
      = icon :plus_sign
      Snapshot

    - if @asset.investment?
      = link_to [:new, @asset, :contribution], class: 'btn btn-lg btn-success' do
        = icon :plus_sign
        Contribution

  %h1= @title

= asset_line_plus_bar_graph @asset

%ul.nav.nav-tabs
  %li.active
    = link_to 'Snapshots', '#snapshots', data: { toggle: 'tab' }

  - if @asset.investment?
    %li
      = link_to 'Contributions', '#contributions', data: { toggle: 'tab' }

.tab-content
  #snapshots.tab-pane.active
    - unless @snapshots.length.zero?
      %table.table.table-striped.table-bordered.table-hover#asset-snapshots-table
        %thead
          %tr
            %th.date Date
            %th.value Value
            %th Permalink
            %th

        %tbody
          - @snapshots.each do |snapshot|
            %tr
              %td= snapshot.formatted_date
              %td= currency snapshot.value
              %td
                = link_to snapshot.permalink, snapshot
              %td.table-actions
                = link_to [:edit, snapshot], class: 'btn btn-info' do
                  = icon :edit
                = link_to snapshot, method: 'delete', class: 'btn btn-danger', data: { confirm: t(:confirm) } do
                  = icon :trash
    - else
      %p There are no snapshots for this asset.

  - if @asset.investment?
    #contributions.tab-pane
      - unless @contributions.length.zero?
        %table.table.table-striped.table-bordered.table-hover#contributions-table
          %thead
            %tr
              %th.date Date
              %th.amount Amount
              %th Permalink
              %th

          %tbody
            - @contributions.each do |contribution|
              %tr
                %td= contribution.formatted_date
                %td= currency contribution.amount
                %td
                  = link_to contribution.permalink, contribution
                %td.table-actions
                  = link_to [:edit, contribution], class: 'btn btn-info' do
                    = icon :edit
                  = link_to contribution, method: 'delete', class: 'btn btn-danger', data: { confirm: t(:confirm) } do
                    = icon :trash
      - else
        %p There are no contributions for this asset.
