- @title = @asset.name

= page_header do
  .float-right
    = link_to :financial_assets, class: 'btn btn-lg btn-secondary mr-1' do
      = icon 'arrow-left'

    - if admin?
      = link_to [:edit, @asset], class: 'btn btn-lg btn-info mr-1' do
        = icon :edit

      = link_to [:new, @asset, :snapshot], class: 'btn btn-lg btn-success mr-1' do
        = icon 'plus-circle'
        Snapshot

      - if @asset.investment?
        = link_to [:new, @asset, :contribution], class: 'btn btn-lg btn-success' do
          = icon 'plus-circle'
          Contribution

  %h1
    = @title

- if @asset.investment?
  = investment_asset_line_plus_bar_graph @asset
  = investment_asset_cumulative_line_graph @asset
- else
  = non_investment_asset_line_graph @asset

.row
  .col-sm-6{class: @asset.investment? ? nil : 'col-sm-offset-3'}
    .panel.panel-default
      .panel-heading
        %strong Snapshots

      %ul.list-group
        - unless @snapshots.length.zero?
          - @snapshots.each do |snapshot|
            %li.list-group-item
              = link_to snapshot.formatted_date, snapshot

              .float-right
                = currency snapshot.value
        - else
          %li.list-group-item
            There are no snapshots for this asset.

  - if @asset.investment?
    .col-sm-6
      .panel.panel-default
        .panel-heading
          %strong Contributions

        %ul.list-group
          - unless @contributions.length.zero?
            - @contributions.each do |contribution|
              %li.list-group-item{class: ('list-group-item-info' if contribution.employer?)}
                = link_to contribution.formatted_date, contribution

                .float-right
                  = currency contribution.amount
          - else
            %li.list-group-item
              There are no contributions for this asset.
