- @title = 'Expenses'

.page-header
  .header-buttons
    = link_to new_expense_path, class: 'btn btn-lg btn-success' do
      = icon :plus_sign
      Expense

  %h1
    = @title

.row#expenses
  = render 'expenses/index/list', frequency: 'monthly', expenses: @monthly_expenses

  = render 'expenses/index/list', frequency: 'yearly', expenses: @yearly_expenses
