- @title = @expense

.page-header
  .header-buttons
    = link_to expenses_path, class: 'btn btn-lg btn-default' do
      = icon :arrow_left
      Back

    = link_to [:edit, @expense], class: 'btn btn-lg btn-info' do
      = icon :edit
      Edit

  %h1= @title

%table.table.table-striped.table-bordered.table-hover#expenses-table
  %thead
    %tr
      %th Name
      %th Cost
      %th Frequency
      %th Notes
      %th Permalink
      %th

  %tbody
    %tr
      %td= link_to @expense.name, @expense
      %td= currency @expense.cost
      %td= @expense.frequency_label
      %td= @expense.notes
      %td
        = link_to @expense.permalink, @expense
      %td.table-actions
        = link_to [:edit, @expense], class: 'btn btn-info' do
          = icon :edit
        = link_to @expense, method: 'delete', class: 'btn btn-danger', data: { confirm: t(:confirm) } do
          = icon :trash
